@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #fbe3e3;
}

.navbar li{    
    font-family: "DynaPuff", sans-serif;
    text-decoration: none;
}

a:-webkit-any-link {
    font-size: 20pt;
    color: #eef;
    text-decoration: none;
    cursor: pointer;
}

.links a{
    list-style: none;
    margin-right: 35px;
}

.navbar{   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background: linear-gradient(to right,#fa8fb1,#f74780);
}

.links{
    display: flex;
}

.image img{
    border: 3px dashed #ff0051;
    border-radius: 350px;
    margin-left: 3rem;
    margin-top: 3rem;
    width: 400px;
}

.content-p{
    display: flex;
}

.frase {
    color: #ff0051;
    font-size: 30pt;
    flex-direction: column;
    font-family: "DynaPuff", sans-serif;
    margin-left: 9rem;
    justify-content: center;
    display: flex;
    align-items: center;

}

.cards{
    margin-top: 2rem;
    margin-left: 15px;
    border-radius: 16px;
    width: 400px;
    background-color: #f74780;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.title{
    color: #eef;
    font-family: "DynaPuff", sans-serif;
}

.texts{
    color: #eef;
    font-family: "Poppins", sans-serif;
}

.img-card img{
    border-radius: 16px 16px 0 0;
    width: 400px;
    height: 350px;
}

 button{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    width: 200px;
    border:3px dashed #ff0051;
    border-radius: 50px;
    background-color: #fa8fb1;
    font-family: "Poppins", sans-serif;
    color: #ff0051;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover{
    border: 3px dashed #ff0051;
    background-color: #eef;
    font-family: "DynaPuff", sans-serif;

}


.card-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-bio h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "DynaPuff", sans-serif;
    color: #ff0051;
}

p{
 color: #ff0051;
    margin-bottom: 3rem;
}

.social-midia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-s button{
    margin-right: 30px;
    border-radius: 60px;
}